[submodule "submodules/seqan3"]
	path = submodules/seqan3
	url = https://www.github.com/seqan/seqan3.git
	branch = master
[submodule "doc/biocpp/presentation/reveal.js"]
	path = doc/biocpp/presentation/reveal.js
	url = https://github.com/hakimel/reveal.js.git
